@model Comment


    <form class="review-form" asp-route-productId="@Model.Product.ProductId" asp-action="AddComment" asp-controller="Product" method="post">
        <div class="form-group">
            <input class="input" type="text" placeholder="Your Name" asp-for="UserName"/>
        </div>
        <div class="form-group">
            <textarea class="input" placeholder="Your review" asp-for="Text"></textarea>
        </div>
        <div class="form-group">
            <div class="input-rating">
                <strong class="text-uppercase">Рейтинг: </strong>
                <div class="stars">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                </div>
            </div>
        </div>
        <button class="primary-btn" type="submit">Оставить комментарий</button>
    </form>
